* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.text {
  font-size: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #4caf50;
}
